{% extends 'layout.html' %}
{% block body %}
<br><br><br>
<div class="row justify-content-center">
            <div class="col-md-16">
                <div id="Carousel4" class="carousel slide shadow-soft border border-light p-4 rounded" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#Carousel4" data-slide-to="0" class="active"></li>
                        <li data-target="#Carousel4" data-slide-to="1"></li>
                        <li data-target="#Carousel4" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner rounded">
                        <div class="carousel-item overlay-primary active">
                            <img class="d-block w-100" src="static/e12.png" alt="First slide">
                            <div class="carousel-caption d-none d-md-block text-dark">
                                <h3 class="h5">Easy to Learn and Use</h3>
                                <p>One-stop-destination for examination,preparation, recruitment,and more. Specially designed onlineexamination system to solve all your preparationworries.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item overlay-primary">
                            <img class="d-block w-100" src="static/e13.png" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block text-dark">
                                <h3 class="h5">Highly Interactive Interface</h3>
                                <p>SA click to the next trick,simple registration,easy test & quiz creation,signing-in,synchronized processing, secured encoding and decoding of information and more. </p>
                            </div>
                        </div>
                        <div class="carousel-item overlay-primary">
                            <img class="d-block w-100" src="static/e14.png" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block text-dark">
                                <h3 class="h5">Active Accessbility</h3>
                                <p>Go wherever you want to and practice whenever you want,using the next level online exam platform.Create and assign tests and quiz from anywhere at any time.       </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#Carousel4" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Carousel4" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div>
                    <br>
                    <div class="container">
                    <div class="card shadow">
                        <div class="card-body">
                            <center><p class="font-weight-bold font-medium mb-0">Our Mission</p></center><br>
                            <center><p>Making green exam assessment reach last mile across globe.</p></center>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container">
                <div class="card shadow">
                    <div class="card-body">
                        <center><p class="font-weight-bold font-medium mb-0">Our Vision</p></center><br>
                        <center><p>We believe “Future of world starts in a Classroom” Our Vision is to invent & develop secure and future ready Ed-tech solutions featuring simple functionality.</p></center>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-12 col-lg-12 mb-5">
                            <div class="card bg-primary shadow-soft border-light p-2 p-md-3 p-lg-5">
                                <div class="card-header">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <div class="shadow-inset p-4 mb-5 rounded">
                                                <iframe class="map rounded" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1328.9639795409282!2d73.15687966762256!3d19.237582167051247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1d3fe85198bfe917!2zU0FUTkFNIOKAmEjigJkgQVBBUlRNRU5U!5e0!3m2!1sen!2sin!4v1606568824590!5m2!1sen!2sin"></iframe>
    
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8 text-center mb-5">
                                            <h1 class="display-2 mb-3">Get in touch today</h1>
                                            <p class="lead">Have any queries/doubts in mind? Need help?.</p>
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-4 col-lg-4 text-center">
                                            <div class="icon-box mb-4">
                                                <div class="icon icon-shape shadow-soft border-light rounded-circle mb-4">
                                                    <span class="fas fa-map-marker-alt"></span>
                                                </div>
                                                <h2 class="h5 icon-box-title">Visit us</h2>
                                                <span>
                                                  SATNAM-H APTT. 207, GOL MAIDIAN,
                                                    <br>
                                                    ROYAL ALFA MEDICAL STORE,
                                                    <br>
                                                    POST-OFFICE-1 RD,
                                                    <br>
                                                    ULHASNAGAR-421001
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4 text-center">
                                            <div class="icon-box mb-4">
                                                <div class="icon icon-shape shadow-soft border-light rounded-circle mb-4">
                                                    <span class="fas fa-headphones-alt"></span>
                                                </div>
                                                <h2 class="h5 icon-box-title">Call</h2>
                                                <span>+91 9320907041</span>
                                                <div class="text-small text-gray">
                                                    24 * 7 WE ARE THERE
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4 text-center">
                                            <div class="icon-box mb-4">
                                                <div class="icon icon-shape shadow-soft border-light rounded-circle mb-4">
                                                    <span class="far fa-paper-plane"></span>
                                                </div>
                                                <h2 class="h5 icon-box-title">Email</h2>
                                                <a href="#">care@narenderkeswani.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
                  </div>
            </div>
        </div>
		<br><br>
{% endblock %}